/* 
    Briana Omori
    STUDIO 1: MADLIBS CSS  
    Feb. 13, 2020 
    WINTER 2020
*/ 

/*DOC BODY*/
body {
    background-color: rgb(250, 250, 250);
}

/*CONTAINER FOR FORM CONTENT*/
div {
    padding-top: 30px;
    padding-left: 250px;
}

/*FORMATTING FOR HTML & CSS VALIDATOR*/
footer {
    font-family: 'Abel', sans-serif;
    padding-left: 250px;
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 20px;
}

/*APPEARANCE SETTINGS FOR HTML & CSS VALIDATOR*/
footer a { 
    text-decoration: none;
}

/*TITLE*/
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}

/*ADJUSTS SPACING FOR FORM INPUT FIELDS*/
p {
    padding-bottom: 1px;
}

/*MADLIB DESCRIPTION*/
.madLib-Name {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 40px;
}

/*REMOVES INLINE FORMATTING FOR MADLIB DESCRIPTION*/
label {
    display: block;
}

/*APPEARANCE AND FORMATTING FOR INPUT FIELDS*/
input {
    font-family: 'Abel', sans-serif;
    padding: 15px 30px;
    font-size: 15px;
    
    /* CSS FUNCTIONALITY TO REMOVE INLINE FOR MAD LIB FORM*/    
    display: block; 
    margin-bottom: 20px;
}

/*APPEARANCE FOR MADLIB BUTTON*/
input.button{
    font-family: 'Abel', sans-serif;
    color: #FFFFFF;
    background-color: black;
    border-radius: 4px;
    border-color: white;
}

/*WHEN MOUSE HOVERS OVER MADLIB BUTTON*/
input.button:hover {
    color: black;
    background-color: rgba(255, 211, 68, 0.879);
}

/*CHANGES TEXT WITHIN BOXES*/
::-webkit-input-placeholder {
    font-family: 'Abel', sans-serif;
}

/* IMAGE */
img {
    float: right;
    padding-right: 350px;
}

/*CONTENT NOT TO BE DISPLAYED UNTIL FORM IS SUBMITTED*/
.invisible { 
    display: none;
}

/*AFTER FORM IS SUBMITTED*/
.visible {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 500px;
    padding: 20px;
    color: #fff;
    background-color: #666;
}