/* 
    Briana Omori
    Development CSS File
    Jan. 30, 2020
    DES 157 002 - MEAD
*/

#design-comp {
    background-color: black;
    font-family: 'Source Sans', sans-serif;
    padding: 15px 25px;
}

body {
    background-color: #FDFDFD;
    font-family: 'Source Sans', sans-serif;
    padding: 15px 25px;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #FF5733;
    text-align: center;
    padding-bottom: 35px;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #FF5733;
    padding-left: 250px;
    padding-top: 25px;
}

p{
    line-height: 1.7em;
    padding: 10px 250px;
}

img {
    display: block;
    margin: auto;
    padding: 50px;
}

ul, a {
    list-style-type: none;
}

li { 
    line-height: 1em;
    padding: 10px 210px;
}

footer p a, a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

a {
    padding: 80px;
}

a:hover {
    color: #FF5733;
}

footer p {
    text-align: center;
}

